* {
    font-family: Arial, Helvetica, sans-serif;
}
html {
    height: 100%;
  }
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  #web {
    display: flex;
    flex-direction: column;
    height: 550px;
    width: 550px;
    justify-content: center;
    height: 100%;
  }
  #title {
    align-self: center;
    font-size: 42px;
    font-weight: bold;
  }
  #heading {
    margin-bottom: 20px;
  }
  #col {
    display: flex;
    justify-content: space-around;
  }
  #leftCol {
    display: flex;
    flex-direction: column;
  }
  #img {
    display: flex;
    border: black solid 2px;
    height: 200px;
    width: 200px;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 80%;
  }
  #name {
    border: rgb(0, 0, 0) solid 1px;
    height: 30px;
    width: 200px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    background-color: rgb(255, 255, 255);
  }
  #text {
    font-weight: bold;
    font-size: 18px;
  }
  #list {
    display: flex;
    gap: 9px;
  }
  .button {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 37px;
    width: 80px;
    margin: 7px;
    font-size: 17px;
  }
  #info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 80px;
    margin: 5px;
    font-size: 17px;
  }
  #moves {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }
  #rightCol {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }
  #infoTitle {
    font-weight: bold;
    font-size: 23px;
  }
  #infoOutput {
    height: 250px;
    width: 225px;
    background-color: rgb(255, 255, 255);
    padding-top: 15px;
    padding-bottom: 15px;
    overflow-y: auto;
  }
  #switch {
    display: flex;
  }