* {
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
}
html {
    height: 100%;
  }
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  #web {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 600px;
    justify-content: center;
    height: 100%;
  }
  #title {
    align-self: center;
    font-size: 35px;
    font-weight: bold;
    padding-bottom: 25px;
  }
  #heading {
    margin-bottom: 15px;
  }
  #col {
    display: flex;
    justify-content: space-around;
  }
  #leftCol {
    display: flex;
    flex-direction: column;
  }
  #img {
    display: flex;
    border: rgb(0, 0, 0) solid 2px;
    height: 200px;
    width: 200px;
    justify-content: center;
    align-items: center;
  }
  img {
    height: 75%;
    width: 75%;
  }
  #name {
    border: black solid 1px;
    height: 30px;
    width: 200px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    background-color: whitesmoke;
  }
  #text {
    font-weight: bold;
    font-size: 17px;
    padding: 0px;
  }
  #list {
    display: flex;
    gap: 5px;
  }
  .button {
    border: 5px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 80px;
    margin: 5px;
    font-size: 15px;
  }
  #info {
    border: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #move {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }
  #arrows {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }
  #rightCol {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }
  #infoTitle {
    font-weight: bold;
    font-size: 20px;
    margin: 0px;
  }
  #infoOutput {
    height: 250px;
    width: 225px;
    background-color: rgb(255, 255, 255);
    padding-top: 15px;
    padding-bottom: 15px;
    overflow-y: auto;
  }
  #switch {
    display: flex;
  }
  